*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    background-color: rgb(27, 26, 26)
}
.container{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    background: linear-gradient(90deg, aqua,#a83293);
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    padding: 20px;
    box-shadow: 0 0 15px #000;
    border: 2px solid rgb(116,114,114);
    border-radius: 10px;
    
}
.display input{
    width: 360px;
    border: none;
    outline: none;
    padding: 20px;
    margin: 10px;
    background:white;
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-align: right;
    cursor: pointer;
}

input::placeholder{
    color: black;
}
button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: transparent;
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    border: 0;
    border-radius: 50%;
    box-shadow: -5px -6px 15px #000;
    outline: 1px solid #313131;
    outline-offset: 3px;
    cursor: pointer;
}
button:active{
    background: #000;
    transform: translate(2px, 2px);
}
button:hover{
    background-color: black;
}
.operator{
    color: #fbff00;
    background: #1e1919;
    font-weight: 700;
}
#equalToBtn{
    background: orangered;
    font-weight: 900;
}
    